{% extends "layout.html" %}

{% block title %}
  Expences model
{% endblock %}

{% block main %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <form action="/exp" method="post">
    <script>

    document.addEventListener('DOMContentLoaded', function() {

      let sales = "{{ sales }}";
      let cogs = "{{ cogs }}";
      let oth_select = 1;
      let oth_expences = 0;
      let oth_name = 0;
      let oth_type = 0;
      let x = 0;

      let exp_name = document.getElementById('oth_exp_name');
      let exp_amount = document.getElementById('oth_exp_amount'); //update here
      let exp_type = document.querySelector('.exp_type'); //select

      let sub_tot_exp = 0;
      let tot_exp = parseFloat(oth_expences) + parseFloat(cogs) ; //display total revenue
      let DispTotExp = document.getElementById('DispTotExp');

      exp_name.addEventListener('input', upexp);
      exp_amount.addEventListener('input', upexp);
      exp_type.addEventListener('change', upexp);

      function upexp() {

        oth_select = parseInt(exp_type.value);
        if (oth_select !==1){
                oth_expences = exp_amount.value * sales * 0.01;
        }
                else{
                oth_expences = exp_amount.value;
        }
        console.log("upsale called");
        oth_name = exp_name.value;
        oth_type = exp_type.value
        exp_sh_amt = exp_amount.value
      }

        //function of "add" button
      document.getElementById("save").addEventListener("click", function(event) {
      event.preventDefault();

      let table = document.getElementById('exp_table');
      let row = document.createElement('tr');
      let cell1 = document.createElement('td');
      let cell2 = document.createElement('td');
      cell1.textContent = oth_name;
      cell2.textContent = parseFloat(oth_expences).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
      cell1.style.textAlign = "left";
      cell2.style.textAlign = "right";
      row.appendChild(cell1);
      row.appendChild(cell2);
      let tableBody = document.getElementById('exp_table').getElementsByTagName('tbody')[0];
      tableBody.appendChild(row);

      let oth_exp_send = {oth_name, oth_expences, oth_type, exp_sh_amt};
      fetch('/other_exp', {method: 'POST',headers: {'Content-Type': 'application/json',},
      body: JSON.stringify(oth_exp_send),
      })
      .then(response => {
      if (response.ok) {

        alert("Saved!");
      }
      })
      sub_tot_exp += parseFloat(oth_expences);
      tot_exp = parseFloat(sub_tot_exp) + parseFloat(cogs);
      DispTotExp.textContent = "TOTAL EXPENCES: " + tot_exp.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});


    });


    });

    </script>
    <div class="head">Expences model</div>
    <div class="description">
      Expenses, refer to the costs incurred by an individual, business, or organization in the process of generating revenue or achieving objectives. Expenses are typically incurred to support ongoing operations, fulfill obligations, or pursue growth opportunities. They are essential components of financial statements and are subtracted from revenue to determine profitability.
    </div>

<!--expences -->
<div class="row">
  <div class="col">
    <div class="card shadow">
        <div class="card-body card-exp">
          <h6 class="card-title"> "Cost of Goods Sold"</h6>
          <div class="card-title"> represents the direct costs associated with producing or purchasing the goods that a company sells. </div>

          <p> The monthly revenue from product {{ product }} is {{ "{:,.2f}".format(sales) }} </p>
          <p>The montly cost of {{ product }} sold is {{ "{:,.2f}".format(cogs) }}</p>

        </div>
      </div>
    </div>

    <!--other expences -->
    <div class="col">
      <div class="card shadow">
        <div class="card-body card-exp">
          <h6 class="card-title">Other expences</h6>
          <div class="card-title"> refers to income generated by a business or organization from sources other than its primary activities or core operations.</div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="oth_exp_name" name="oth_exp_name" required>
            <label for="oth_exp_name">expence descritpion</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="oth_exp_amount" name="oth_exp_amount" required>
            <label for="oth_exp_amount">amount or % of sales</label>
          </div>

          <select class="exp_type" name="exp_type" id="exp_type" aria-label="Default select example" required>
            <option value="1" disabled selected>Choose Fixed and Variabl </option>
            <option value="1">amount</option>
            <option value="%">% of sales</option>
          </select>

          <button id="save" class="btn btn-primary" type="save" style="margin-top: 2rem;">add new</button>

        </div>
      </div>
    </div>

    <!--TOTAL Expences -->
    <div class="col">
    <div class="card shadow">
      <div class="card-body card-exp">
        <h6 class="card-title">Total expences</h6>

        <table id="exp_table" class="table table-striped">
          <thead>
              <tr>
                  <th class="text-start"></th>
                  <th class="text-end"></th>
              </tr>
          </thead>

          <tbody>
              <tr>
                  <td class="text-start"><p> {{ product }}</p></td>
                  <td class="text-end"><p> {{ "{:,.2f}".format(cogs) }}</p></td>
              </tr>


          </tbody>

      </table>
      <p id="DispTotExp"></p>

      </div>
    </div>
    </div>




</body>

<div class="row">
  <div class="col text-end">
      <button class="btn btn-primary" type="submit" style="margin-top: 2rem;">Save</button>
  </div>
</div>

{% endblock %}
